{% extends "base.html" %}

{% block content %}
<h1>{{ book.title }}</h1>
<div class="flex flex-column flex-row-ns">
    <div class="pr2-ns mb4 mb0-ns w-100 w-60-ns">
        <img src="{{book.image_url}}" class="db w-70 pa3">
    </div>
    <div class="w-100 w-60-ns pl2-ns">
        <p><strong>Author:</strong> {{ book.author }}</p>
        <p><strong>Description:</strong> {{ book.description }}</p>
        <p><strong>URL:</strong> <a class="black" href="{{ book.url }}">{{ book.url }}</a></p>
        <strong>Categories: </strong>
        {% for type in book.category.all %}
        <p><a class="black link dim underline" href="/categories/{{type.id}}">{{ type }}</a></p>
        {% endfor %}
        {% if user.is_authenticated %}
        {% if book in have_favorited %}
        <a class="f6 link dim br3 ba bw1 ph3 pv2 mb2 dib gold "
            href="{% url 'favorite-toggle' book.slug %}?next={{ request.path }}">Unfavorite</a>
        {% else %}
        <a class="f6 link dim br3 ba bw1 b--gold ph3 pv2 mb2 dib bg-gold white"
            href="{% url 'favorite-toggle' book.slug %}?next={{ request.path }}">Favorite</a>
        {% endif %}
        {% endif %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

</div>
{% endblock %}