{% extends "base.html" %}

{% block content %}
<h1>{{ book.title }}</h1>
<div class="flex flex-column flex-row-ns">
    <div class="pr2-ns mb4 mb0-ns w-100 w-60-ns">
        <img src="{{book.image_url}}" class="db w-70 pa3">
    </div>
    <div class="w-100 w-60-ns pl2-ns">
        <p><strong>Author:</strong> {{ book.author }}</p>
        <p><strong>Description:</strong> {{ book.description }}</p>
        <p><strong>URL:</strong> <a class="black" href="{{ book.url }}">{{ book.url }}</a></p>
        <strong>Categories: </strong>
        {% for type in book.category.all %}
        <p><a class="black link dim underline" href="/categories/{{type.id}}">{{ type }}</a></p>
        {% endfor %}
        {% if user.is_authenticated %}
        <br>
        <button>Placeholder</button>
        {% endif %}
    </div>

</div>
{% endblock %}