{% extends "base.html" %}

{% block content %}
<article>
    <header class="bg-gold athelas">
        <div class="pv3 mv0 db tr"><a class="underline black link dim pa3" href="{% url 'auth_login' %}">Sign In</a><a
                class="underline black link dim pa3" href="{% url 'registration_register' %}">Register</a>
        </div>
        <div class="mw9 center pa4 pt5-ns ph7-l">
            <h3 class="f2 f1-m f-headline-l measure-narrow lh-title mv0">
                <span class="lh-copy white pa1 tracked-tight">
                    Freeshelf
                </span>
            </h3>
            <h4 class="f3 fw1 i">A collection of free programming ebooks</h4>
        </div>
    </header>
    <div class="pa4 ph7-l georgia mw9-l center">
        <p class="f5 f3-ns lh-copy measure ">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vel viverra diam. Orci varius natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla blandit nisl a urna bibendum
            porttitor. Vivamus porta placerat eros et interdum. Nullam interdum molestie ligula, ultricies pretium justo
            sodales auctor. Curabitur et justo placerat, efficitur nisl eu, scelerisque nulla. Nulla eleifend, ipsum id
            porttitor luctus, nibh purus auctor nunc, quis lacinia tellus odio a nunc.

            Praesent vitae ipsum id risus mattis sollicitudin non non est. Morbi scelerisque aliquet augue, sit amet
            vehicula eros maximus a. Pellentesque sollicitudin condimentum est et consectetur. Aliquam consequat viverra
            sapien a rutrum. Vivamus ut tincidunt enim. Integer magna est, semper ut placerat tristique, ultrices
            efficitur ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p>

    </div>
</article>


{% endblock %}